<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <h1>Hrithik Burnwal</h1>
    <form action="/get-form-data" method="post">
      <input type="text" placeholder="Enter Username" name="Username" required />
      <input type="email" placeholder="Enter Email" name="email" required />
      <input type="password" placeholder="Enter Password" name="password" required />
      <button>Submit</button>
    </form>
  <script src="script.js"></script>
  </body>
</html>
